body {
    background-color: black;
    font-family: "Open Sans", sans-serif;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
button {
    background-color: black;
    color: white;
    border: none;
    font-size: 10rem;    
}
a {
    color: white;
    font-size: 0.9rem;
}